.div{
	padding-top: 39px;
	margin: auto;
}

.title{
	margin: 0 auto;
	text-align: center;
	color: #E37222;
	font-family: Pacifico;
}

.mainbox{
	width: 70%;
	margin: auto;
}

.techboxtan{
	width: 30%;
	float: left;
	margin: 3px;
	background-color: #EEAA7B;
}

.techboxpowder{
	width: 30%;
	float: left;
	margin: 3px;
	background-color: #66B9BF;
}

.techtitle{
	text-align: center;
}

.p{
	text-align: center;
}

.row{
	clear: left;
}

.a{
	text-decoration: none;
	color: #EFEFEF;
}

.a:hover{
	color: #07889B;
}

@media (max-width: 500px){
	.techboxtan{
		width: 100%;
		float: left;
	}

	.techboxpowder{
		width: 100%;
		float: left;
	}

	.mainbox{
		width: 85%;
		margin: auto;
	}
}
