.default {
	width: 70%;
	background-color: #565656;
	color: #D7CEC7;
	text-align: center;
	margin: 10px;
	font-size: 18px;
}

@media (max-width: 500px) {
	.default {
	width: 90%;
	background-color: #565656;
	color: #D7CEC7;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	font-size: 18px;
	}
}

.div {
	margin: 0 auto;
	text-align: center;
}