.visible{
	visibility: visible;
	color: #EFEFEF;
	right: 0px;
	border-bottom:solid 1px #555;
	padding: 10px 15px;
}

.visible:hover{
	background-color: #EFEFEF;
	color: #565656;
	right: 0px;
	padding: 10px 15px;
}

.button{
	position: fixed;
	background-color: #565656;
	left: 0px;
	color: #EFEFEF;
	border-bottom:solid 1px #555;
	padding: 10px 10px;
	float: left;
	text-align: left;
}

.hidden{
  visibility: hidden;
}

.sidebarvisible{
	position: fixed;
	background-color: #565656;
	width: 25%;
	-webkit-transition: width .25s;
    transition: width .25s;
    -webkit-margin-before: 0px;
    list-style: none;
    height: 100%;
    z-index: 1;
    -webkit-padding-start: 5px;
}

@media (max-width: 500px) {
	.sidebarvisible{
		position: fixed;
		background-color: #565656;
		width: 60%;
		-webkit-transition: width .25s;
	    transition: width .25s;
	    -webkit-margin-before: 0px;
	    list-style: none;
	    height: 100%;
	    z-index: 1;
	    -webkit-padding-start: 5px;
	}
}

.sidebarhidden{
	position: absolute;
	width: 0px;
	-webkit-margin-before: 0px;
	list-style: none;
	z-index: 1;
	-webkit-padding-start: 0px;
	left: 0px;
}

.link{
	text-decoration: none;
}



