.video {
	padding-top: 4%;
	width:70%;
	float: none;
	margin: 0px auto;
}

@media (max-width: 500px){ 
	.video {
		padding-top: 15%;
		position: relative;
		width: 90%;
		float: none;
		margin: 0px auto;
	}
}

.aspect {
	position: relative;
  	width: 100%;
  	padding-bottom: 56.25%;
}

 .aspiframe {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
}